# Apache X Table with DeltaStreamer and trino Demo

# Install DEP
```
pip install trino
pip install ipython-sql

```

# Read data as HUDI

In [1]:
%load_ext sql
%sql trino://admin@localhost:8080/default
%sql SHOW CATALOGS
%sql USE hudi.default
%sql show tables

 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.

[('customers',)]

In [9]:
%sql SELECT id,first_name, last_name from customers

 * trino://admin@localhost:8080/default
Done.

[(1004, 'Anne', 'Kretchmar'),
 (1002, 'George', 'Bailey'),
 (1003, 'Edward##', 'Walker'),
 (1001, 'Sally', 'Thomas')]